<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- website title for navbar -->
        <a class="navbar-brand" href="/">SMlinks</a>

        <!-- button to expand navbar when on small screen -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Pricing</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Contact Us</a>
                </li>
            
            </ul>

            <!-- sign up and login pages -->
            <a class="btn btn-success me-2" href="/user/login" role="button">login</a>
            <a class="btn btn-outline-success" href="/user/signup" role="button">sign up</a>
            
        </div>
    </div>
</nav>

