<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smol Url</title>
</head>
<body>
  <nav>
    <div>
      <a href="/">Smol Url</a>
      <a href="/">Pricing</a>
      <a href="/">About</a>
      <a href="/">Contact us</a>
      <a href="/user/login">Login</a>
      <a href="/user/signup">Sign up</a>
    </div>
  </nav>
  <h1>Shorten Link</h1>

  <div>
    <button id="show-basic">Basic</button>
    <button id="show-custom">Custom</button>
    <button id="show-secure">Secure</button>
  </div>

  <div id="basic-shortener">
    <p>Basic short-link</p>
    <div>
        <input type="text" placeholder="Long link here" id="input-original-link-basic">
        <button type="button" id="button-convert-basic">Convert</button>
    </div>
  </div>

  <div id="custom-shortener" style="display: none;">
    <p>Custom short-link</p>
    <div>
        <input type="text" placeholder="Long link here" id="input-original-link-custom">
        <input type="text" placeholder="Choose custom link (endpoint only)" id="input-custom-link">
        <button type="button" id="button-convert-custom">Convert</button>
    </div>
  </div>

  <div id="secure-shortener" style="display: none;">
    <p>Secure short-link</p>
    <div>
        <input type="text" placeholder="Long link here" id="input-original-link-secure">
        <input type="text" placeholder="Enter Security Question" id="security-question">
        <input type="text" placeholder="Enter Answer" id="security-answer">
        <button type="button" id="button-convert-secure">Convert</button>
    </div>
  </div>
  
  <div id="message-copied" style="display: none;">
    Link copied to clipboard!
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../scripts/main.js"></script>
</html>