<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Link</title>
</head>
<body>
    <h1>Secure Link</h1>
    <p><%=question%></p>
    <input type="text" placeholder="Input Answer" id="answer">
    <button id="submit">Enter</button>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../scripts/securelink.js"></script>
</html>